/**
 * Site-wide typography
 */

/* Fonts */
@headline: 'gotham-black';
@bodycopy: 'gotham';

/* Some overrides of Bootstrap styles for better readability */
h2,h3,h4,h5,h6 {
    margin-top: @baseLineHeight;
}

p {
    margin-bottom: @baseLineHeight*.75;
}
