/**
 * Default classes used by WordPress.
 */

.wp-caption  {
    padding: @baseline*.5;
    border: 1px solid darken(@light, 15%);
    background: darken(@light, 5%);
    text-align:center;
    .border-radius(@baseline*.125);

    .wp-caption-text {
        font-size: @fontsize*.85;
        margin: @baseline*.5 0 0;
        font-style: italic;
        color: @gray;
    }
}

.alignleft,img.alignleft {
    .floatleft();
}

.alignright,img.alignright {
    .floatright();
}

.aligncenter,img.aligncenter {
    .aligncenter();
}

.aligncenter(@margin: @baseline) {
    display: block;
    float: none;
    margin: 0 auto @margin;
}

.floatright(@margin: @baseline) {
    float: right;
    margin: 0 @margin @margin 0;
}

.floatleft(@margin: @baseline) {
    float: left;
    margin: 0 0 @margin @margin;
}
