#rotorwash_dashboard h4 {
    font-size: 14px;
    color: #464646;
    text-shadow: white 0 1px 0;
    margin: 1.75em 0 .75em;
    padding: 0 0 .25em;
    border-bottom: 1px solid #dfdfdf;
}

#rotorwash_dashboard ul {
    margin: 0;
}
